*{
  font-family: 'Roboto', sans-serif;
  }

/* utility classes */
.txt_right{
  text-align: right;
}
.txt_left{
  text-align: left;
}





/****** HEADER ******/

/* nav */
.logo{
  height: 30px;
  margin-top: 20px;
}
.nav_menu{
  margin-top: 10px;
}
.nav_menu a{
  color: #102756;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  text-decoration: none;
}
.sign_up{
  border: 1px solid #004AFF;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
}
.txt_right li .sign_up{
  color: #004AFF;
}
.menu_hamburger{
  display: none;
}


/* jumbotron */
.banner{
  background-image: url("../img/bg_jumbotron.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h1{
  color: white;
  font-size: 50px;
  font-weight: 400px;
  padding-right: 150px;
  padding-top: 50px;
}
.banner p{
  color: #8FADFE;
  font-size: 23px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
.form{
  margin-top: 50px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
.form_header{
  padding-top: 10px;
}
.form_header p{
  color: #006AFF;
  font-weight: 500;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}
.form_main input{
  height: 30px;
  width: 90%;
  margin: 5px 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.form_main input::placeholder{
  color: lightgrey;
  padding: 5px 0;
  font-weight: 500;
}
.create_account{
  height: 30px;
  width: 90%;
  margin: 5px 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: #579AFF;
  color: white;
}
.create_account::placeholder{
  padding: 5px 0;
  font-weight: 500;
  text-align: center;
}
.sign_google{
  height: 30px;
  width: 90%;
  margin: 5px 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: white;
  color: grey;
  position: relative;
}
.sign_google::placeholder{
  color: white;
  padding: 5px 0;
  font-weight: 500;
  text-align: center;
}
.googlemark{
  position: absolute;
  left: 10px;
}
.form_footer p{
  color: #011D4C;
  font-size: 12px;
  padding-bottom: 10px;
}

/****** /HEADER ******/



/****** MAIN ******/
main h2{
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin-top: 70px;
  color: #031B4E;
}


/* logos */
.logos{
  background-color: #F3F5F9;
  text-align: center;
}
.logos p{
  text-transform: uppercase;
  color: #78839C;
  font-weight: 500;
  font-size: 16px;
  margin-top: 40px;
}
.logos img{
  margin: 5px;
  height: 90px;
  margin: 0;
}
.logos a{
  display: block;
  margin-bottom: 40px;
  font-weight: 500;
}


/* deployment */
.deployment{
  margin-bottom: 50px;
}
.deployment p{
  color: #5b6987;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 50px;

}
.deployment_left{
  padding-left: 100px;
}
.deployment_left button{
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px solid #CCCCCC;
}
.deployment_left button a{
  color: #5b6987;
  text-decoration: none;
}
.deploy_button:hover button{
  border-left: 2px solid #005DFF;
}
.deployment h4{
  color: #031B4E;
  margin: 10px 0;
}
.deployment .p_small{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding-right: 80px;
  height: 40px;
}


/* design */
.design{
  background-color: #F3F5F9;
  text-align: center;
  margin: auto;
}
.design p{
  color: #5b6987;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.swipe_left, .swipe_right, .swipe_img{
  display: inline-block;
}
.design img{
  width: 100%;
  margin-bottom: 25px;
}
.swipe_left, .swipe_right{
  color: #6F7B97;
  font-size: 40px;
  cursor: pointer;
  padding-top: 150px;
}
.swipe_left:hover{
  color: #031B4E;
}
.swipe_right:hover{
  color: #031B4E;
}
.swipe_bottom p{
  color: #031B4E;
  font-size: 16px;
  margin-bottom: 5px;
}
.swipe_circle{
  color: #006AFF;
  font-size: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}
.design .fa-circle:hover{
  background-color: #006AFF;
  border-radius: 100%;
}


/* features */
.features{
  padding-bottom: 70px;
}
.features .p_small{
  color: #5b6987;
  font-weight: 500;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
}
.features img{
  margin-top: 50px;
}


/* services */
.services{
  color: white;
}
.services{
  background: linear-gradient(#0048C5, #001E9A);
}
.services h2{
  color: white;
  margin-bottom: 20px;
}
.row_test{
  padding-top: 10px;
  padding-bottom: 100px;
}
.border_bottom{
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}
.location{
  font-weight: 500;
}
.place{
  color: #acbee5;
  font-weight: 500;
}
.test{
  text-align: right;
}
.test a{
  color: #00d7d2;
}






/*** style for md (medium) screen ***/
@media screen and (min-width: 769px) and (max-width: 1200px){
  #site_header .nav_menu a{
    display: none;
  }
  #site_header .nav_menu ul{
    display: none;
  }
  .menu_hamburger{
    margin-top: -80px;
    display: block;
    font-size: 20px;
  }
  #site_header .banner h1{
    padding-right: 50px;
  }
  #site_main .deployment .p_small{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-right: 80px;
    height: 110px;
  }

}




/*** style for sm (small) screen ***/
@media screen and (max-width: 768px){
  #site_header .nav_menu a{
    display: none;
  }
  #site_header .nav_menu{
    display: none;
  }
  .menu_hamburger{
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }
  #site_header .banner h1{
    padding-right: 50px;
  }
  #site_main .logos .txt_left{
    text-align: center;
  }
  #site_main .logos .txt_right{
    text-align: center;
  }
  /* #site_main .deployment .p_small{
    padding-bottom: 100px;

  } */
  #site_main .col-xs-12 .p_small{
    padding-bottom: 50px;

  }
  #site_main .deployment_left{
    padding-left: 30px;
    padding-bottom: 10px;
  }
  #site_main .features .p_small{
    padding-bottom: 5px;
  }

}

/*** style for xs (Xsmall) screen ***/
@media screen and (min-width: 767px){


  }




}
